/* styles.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Ensure these match the form component styles */
.form-list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.form-container {
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  margin-right: 20px;
}
